.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #bfbfbf;
}

section {
  padding-top: 5rem;
}

/* e2edff */

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
